Makefile
*.la
*.lo
*.o
*.log
.libs
*.Plo

doc/
fastqreduceid
fastqpick
revcomp
revcomp
.*.swp
*xx*
common.mk
*.tab
testlib
update
gettaxonomy
*.txt
header
lib
.nfs*
incld
*.gz
*.bak
*.backup
projdoc.warn
*.svg
*.png


# for bioseq
testcpp
testseq
teststd
testfastq
GrishinDistance

# for bionj
bionj 
ngiden2distance 
testbionj
bionj/bionj
bionj/ngiden2distance

# for cluster
gecods_mysql
testread

testdbinfo

# for gene model
archivegmap
astyping
caiwe
combest
countcar
countest
estlibcount
gathercaiwegene
gathergene
intronstop
nrep
testEsambl
testExon
testGModel

# for seqaln
alnexon
alnglobal
dbaln_fungalbt
alnlocalmany
analyzasconserve
chimeradetect_mysql
dbaln
dbaln_cds
dbaln_chimera
dbaln_chimerarmsimp
dbaln_chimerathread
dbaln_fungal
alnlocal
dbaln_fungalrmsimp
dbaln_nr
exsamseq
gwseedaln
loadaln2mysql
pickbestaln
testmysql
testscoremethod
testaln
testbraboualn
bbaln
braboualnparam
alnglobalparam
bbalnfast
testkmer
checkpalindrome

# seqaln/Util
addentropy
buildjgitranscript
buildlocusinfo
compnr2gentropy
computenrEntropy
dumpcds
mergefootprint
pfog
pfogfile
pfogmultipledb
pickrepmodel
picktopcds
picktopfootprint
preparegw
rmsimpmatch
wolm
picktopmodel 
testsimple 
testsys
testChimera
seqaln/Utility/picktopmodel
seqaln/Utility/testsimple

# for seqconv
bam2cleanfastq
checkdupfasq
cpfasqpart
fastareduceid
fastq2fasta
fastqstat
fishing
linearize
tandemcount
trimfastq
rna2dna
parsencbi16s
parsencbissu
parsesilvassu
parsepatricssu
parserdpssu
checkdupfasta
cpfastapart
splitfasta
fastq2tab

# for seqana
GCcontent
bam2tab
comparefastq
comparetoref
doublestop
uniqueseq
picksubseq
polymerstat
selortho
rmseqbyid
stemloop
tabulatepair
testComparetoref
testConsensus
testMapping
testgenoanalyzer
testthread
validateprtsite
uniqueseq
fastabund
testconsensus
cleanshort
uniqueshortseq
seqdiv
acusecounter
breakFasfile
buildconsensus
taxonassign
testDnaqualstore
fastadiscard
fastapick
seqsep/seqsep
fastaleninfo
bamfilter
combineseq
blm8select
blrmslf
blx2ace


# for range
checkchimera
testinterval
testrange

testdbinfo
testx

# for mothur
*.logfile
*.o
*.pbxproj
*.zip
.DS_Store
.idea
build
xcuserdata
project.xcworkspace
*.xcuserdata
TARGET_BUILD_DIRTARGET_BUILD_DIR
*.xcuserdata
*.xml
nbproject/
/mothur/mothur
Mothur.1
*.stdout
uchime
*.stderr
*.pat

GCcontent.GCcontent.res
testBoxPile
testPieChart
testStalactiteGraph
testTextPile
